body{
	background: #362825;
	font-family:"webFont";
}

html, body{
	height:100%;
	overflow-x: hidden;
}

@font-face{
	font-family:"webFont";
	src:url(font/OpenSans-Regular.ttf);
}

@font-face{
	font-family:"webFontB";
	src:url(font/Maitree-SemiBold.ttf);
}

h1, h2, h3, h4, h5, .nav, .register button{
	font-family:"webFontB";
}

/* Let's get this party started */
::-webkit-scrollbar{
	width: 3px;
	margin-right:5px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #1f1a14;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #1f1a14;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0);
}

section.container-fluid{
	margin-top: 100px;
}

@media (max-width: 1200px) {
	section.container-fluid{
		margin-top: 70px;
	}
}

@media (max-width: 970px) {
	section.container-fluid{
		margin-top: 0px;
	}
}



.container{
	padding-top: auto;
	padding-bottom: auto;
	padding-left:0;
	padding-right:0;
	box-shadow:0px 0px 20px #333;
}

.container_head{
	padding-top: 15px;
	padding-bottom: 0px;
	background: rgba(199,165,103,1);
	background: -moz-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(199,165,103,1)), color-stop(100%, rgba(151,124,81,1)));
	background: -webkit-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: linear-gradient(135deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7a567', endColorstr='#977c51', GradientType=1 );
}

.container_head .left a img{
	padding:35px 20px;
}

.container_head .right{
	text-align: right;
	padding-right: 30px;
	padding-top: 35px;
}

.container_head .right ul{
	padding-left: 0;
	list-style:none;
}

.container_head .right ul li{
	display:inline;
	padding:0 5px;
}

.container_head .right ul li a{
	color:#fff;
}

.container_head .right button{
	text-transform:uppercase;
}

/* HEADER WITH RESPONSIVE */

@media (max-width: 970px) {
	.container_head .left,
	.container_head .right{
		text-align: center;
	}

	.container_head .right{
		padding-top: 10px;
		padding-right: 0;
	}

	.container_head .left a img{
		padding:10px 20px;
	}
}

.container_body{
	width:100%;
	height:450px;
}

/*
==== CSS FOR RESPONSIVE MENU ====
 */

.main_nav button {
	display: block;
	width: 100%;
	min-height: 20px;
	padding: 7px 15px;

	text-align: center;
}

.main_nav button,
.main_nav button:focus{
	background-color: transparent;
	box-shadow: none;
	border: none;
}

ul.nav > li{
	display: inline-block;
	position:relative;
}

ul.nav > li > a{
	padding: 10px 7px;
}

ul.nav > li > ul{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	display: none;
}

ul.nav > li:hover > ul{
	display: block;
}

ul.nav > li > ul > li{

}

@media (max-width: 970px) {
	ul.nav{

	}

	ul.nav > li{
		display: block;
	}

	ul.nav > li > ul{
		position: static;
		display: list-item;
		padding-left: 15px;
	}
}

/*
==== END OF RESPONSIVE MENU ====
 */

ul.nav{
    box-shadow: 0px 0px 10px #333;
}

ul.nav > li > a{
	color:#493f26;
	text-transform:uppercase;
}

ul.nav > li:hover,
ul.nav > li:hover > a{
	background: #493f26;
	color:rgba(199,165,103,1);
	text-decoration:none;
}

ul.nav > li > ul{
	width: 100%;
	padding: 10px 15px;
	background:#493f26;
}

ul.nav > li > ul > li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #b8a761;
}

ul.nav > li > ul > li:last-of-type{
	border-bottom: none;
	padding-bottom: 0;
}

ul.nav > li > ul > li > a{
	color:#b8a761;
	text-transform:none;
}

ul.nav .sub_nav > ul{
	background-color: #eaeaea;
}

.mask{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mask > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container_body .container-fluid{
	height: 100%;
}

.container_body .content_right{
	padding-left: 0;
	padding-right: 0;
}

/*
====================== HOMPAGE CSS ======================
 */

.container_body > .container-fluid > .content{
	position: relative;

	width: 100%;
	height: 100%;
}

.homepage_intro{
	position: absolute;
	top: 55px;
	right: 55px;
	z-index: 99;

	width: 400px;
	height: 200px;

	background:rgba(0,0,0,.6);
	padding:15px;
}

@media (max-width: 970px){
	.homepage_intro{
		top:55px;
		left: 50%;
		margin-left: -40%;

		width: 80%;
		height: auto;
	}
}


.ho_bg{
	width:100%;
	height:451px;
	position:relative;
}

.pa_bg{
	background:url(img/nc_001.jpg) no-repeat center center;
}

.ho_intro{
	width:400px;
	height:200px;
	position:absolute;
	top:55px;
	right:55px;
	background:rgba(0,0,0,.6);
	padding:15px;
}

.ov_bg{
	background:url(img/nc_001.jpg) center center no-repeat;
}

.lo_bg{
	background:url(img/mb_001.jpg) center center no-repeat;
}

.container-fluid{
	padding-left:0;
	padding-right:0;
}

.content_left, .content_right{
	height:100%;
	background-color: #1f1a14;
}

@media (max-width: 768px){
	.content_right{
		height: fit-content;
	}

	/*.container_body .container-fluid{*/
		/*display: flex;*/
		/*flex-direction: column;*/
	/*}*/

	/*.container_body .container-fluid .content_left{ order: 2;}*/
	/*.container_body .container-fluid .content_right{ order: 1;}*/
}

.content_left{
	background-color:#1f1a14;
	overflow:hidden;
}

.text{
	height:370px;
	overflow-y:scroll;
}

.text a{
    color:rgba(199,165,103,1);
}

.room{
	width:16.66%;
	float:left;
	height:451px;
	padding-left:4px;
	padding-right:0px;
}

.room_hover{
	width:50%;
}

.room .wrapper{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}

.room .wrapper img{
	position:absolute;
	top:0;
	left:-50%;
	height:95%;
	z-index:2;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
	
	transition:all ease 500ms;
	-webkit-transition:all ease 500ms;
	-moz-transition:all ease 500ms;
	-o-transition:all ease 500ms;
}

.room .wrapper:hover img{
	top:0;
	left:-60%;
	
	transition:all ease 500ms;
	-webkit-transition:all ease 500ms;
	-moz-transition:all ease 500ms;
	-o-transition:all ease 500ms;
}

.room .wrapper .inner{
	width:100%;
	height:100px;
	background: rgba(199,165,103,1);
	background: -moz-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(199,165,103,1)), color-stop(100%, rgba(151,124,81,1)));
	background: -webkit-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: linear-gradient(135deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7a567', endColorstr='#977c51', GradientType=1 );
	padding-top:20px;
	position:absolute;
	top:0;
	left:0;
	z-index:98;
	text-align:center;
}

.room .wrapper .inner h4{
	color:#fff;
}

.room:hover{
	cursor:pointer;
}

/*
====================== PRODUCT RESIDENT ======================
 */

@media (max-width: 768px) {
	.room{
		width: 100%;
	}
}

@media (max-width: 970px) {
	.room .wrapper img {
		top: 0;
		left: -5%;
	}

	.room .wrapper:hover img {
		top: 0;
		left: 0;
	}
}


.slide{
	height:100%;
	overflow:hidden;
}

.slide img{
	width:100%;
}

/*
====================== FOOTER CSS ======================
 */

.container_foot{
	padding-top: 15px;
	padding-bottom: 15px;

	background: rgba(199,165,103,1);
	background: -moz-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(199,165,103,1)), color-stop(100%, rgba(151,124,81,1)));
	background: -webkit-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: linear-gradient(135deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7a567', endColorstr='#977c51', GradientType=1 );
}

.container_foot .left,
.container_foot .right{
	color:#fff;
}

.carousel-control{
	width:10%;
	background:none;
	text-shadow:none;
}

.carousel-control:hover{
	background-image:none;
}

.container_foot .right p{
	margin:25px 0 0;
	text-align:right;
}

.modal-header, .modal-footer{
	background: rgba(199,165,103,1);
	background: -moz-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(199,165,103,1)), color-stop(100%, rgba(151,124,81,1)));
	background: -webkit-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: linear-gradient(135deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7a567', endColorstr='#977c51', GradientType=1 );
}

.modal-header .modal-title{
	color:#fff;
}

.modal-body{
	background: #1f1a14;
}

.title{
	color:rgba(199,165,103,1);
	text-transform:uppercase;
	margin:20px 0;
}

.tel{
	color:#493f26;
	text-transform:uppercase;
	margin:20px 0;
	font-weight:bold;
}

.paragraph{
	color:#fff;
	text-align:justify;
}

#register table{
	width:100%;
}

#register table tr{
	border-bottom:10px solid #1f1a14;
	color:#fff;
}

#register table input, #register table textarea{
	background:#514935;
	color:#fff;
}

#send{
	background:#514935;
	color:#fff;
	border:none;
}

.nav_active{
	background:#493f26;
}

.nav_active a{
	color:rgba(199,165,103,1) !important;
}

.reset_padding{
	padding:0;
}

textarea{
	resize:none;
}

.register button{
	width: auto;
    height: 40px;
    color: #fff;
    border: none;
    font-size: 18px;
}

.register button:hover{
	color:#1f1a14;
}

.progress_part{
	position:relative;
}

.progress_part .list{
	position:absolute;
	bottom:0;
	left:0;
}

.progress_part .list a{
	color:#c0aa75;
}

.fadeinUp{
	margin-top:40px;
}



@media (max-width: 768px) {
    .map_bg img{
        position: fixed;
        width: 90%;
        height: auto;
        top:20px;
        margin-top: 0;
        margin-left: -45%;
    }

    .map_bg button{
        margin-top:20px;
        margin-right:20px;
    }
}


.download table, .partners table{
	width:100%;
}

.download table img{
	height:80%;
}

.download table a{
	border:none;
	color:#fff;
}

.partners table .yellow{
	color:rgba(199,165,103,1);
}

.partners table .white{
	color: #fff;
}

.partners table tr th:nth-of-type(2){
	width:10px;
}

.container_foot h4{
	margin-bottom:0;
	margin-top:15px;	
}

.container_foot h5{
	margin-bottom:0;
	margin-top:0;	
}


.resident{
	position:relative;
}

.resident .slide{
	position:absolute;
	top:0;
	left:0;
	z-index:4;
    height: fit-content !important;
}

.resident .close{
	position:absolute;
	top:10px;
	right:10px;
	z-index:4;
	color:#fff;
	opacity:1;
}

.container_intro{
	width:500px;
	height:600px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-250px;
}

.intro_head .left{ 
	width:60%;
	float:left;
	vertical-align:middle;
}

.intro_head .left img{
	width:100%;
}

.intro_head .right{
	width: 40%;
    float: left;
    padding-top: 59px;
    padding-left: 22px;
    font-size: 12px;
}

.intro_video{
	float:left;
	position:relative;
}

.intro_video a{
	position:absolute;
	bottom:55px;
	right:30px;
	opacity:0.5;
}

.intro_video a:hover{
	opacity:0.9;
}

.video{
	position:relative;
}

.video #stellar_vid{
	position:absolute;
	top:0;
	left:0;
	background:#000;
}

.modal-backdrop{
	display: none;
}
#register input{
	color: #fff;
}

.highlight{
    padding:5px 10px;
    background: rgba(199,165,103,1);
	background: -moz-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(199,165,103,1)), color-stop(100%, rgba(151,124,81,1)));
	background: -webkit-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	background: linear-gradient(135deg, rgba(199,165,103,1) 0%, rgba(151,124,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7a567', endColorstr='#977c51', GradientType=1 );
	border:2px solid #fff;
	color:#fff;
	border-radius:10px;
}